/********** Template CSS **********/
:root {
    --primary: #2819ce;
    --light: #EDF5FF;
    --dark:  #202529;;
}
/* *{
    font-family: Poppins,sans-serif;
} */
html {
    scroll-padding-top: 6rem;
  }

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}


#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
.b24-widget-button-position-bottom-right{
    right: 55px !important;
    bottom: 100px !important;
    left: auto !important;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 60px;
    bottom: 25px;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.btn.btn-primary {
    color: var(--light);
}

.btn.btn-light {
    color: var(--primary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}
/* Liner Horizontal */
.liner{
    height: 4px ;
    background: #0f1010;
    border: 2px solid rgb(12, 11, 11);
    max-width: 200px;
    opacity: 1;
}
/* scroll */
.scroll{
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}
.scroll::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
    scrollbar-width: 5px;
}

.banner{
    position: relative;
    perspective: 100px;
    
}
.banner-image{
  transform-style: preserve-3d;
  transform: rotateX(90deg);
}
/* Vendor animation */
.custom_slide-track {
    width: 90%;
    height:5rem;
    border: 2px  #000 solid ;
    border-width: 0px 2px 0px 2px;
    margin:auto;
    gap: 1rem;
    overflow: hidden;
  }
  .custom_slide img{
    width: 150px;
    height: auto;;
    animation-delay: 0.1s;
    animation: scroll 10s linear infinite  ;
}
@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(500%)}
  }



/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f103";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    font-weight: 500;
    
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--dark);
    
}
.filters{
    filter: invert(100%);
}

.sticky-top.navbar .navbar-nav .nav-link {
    padding: 20px 0;
     -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(82.86deg,#000577 -19.93%,#00a3ff 75.2%),linear-gradient(89.75deg,#ba3838 -4.9%,red 97.56%);
}
.sticky-top.navbar a {
    padding: 0.7rem 1rem;
     -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(82.86deg,#000577 -19.93%,#00a3ff 75.2%),linear-gradient(89.75deg,#ba3838 -4.9%,red 97.56%);
}

.sticky-top.navbar .navbar-nav .nav-link:hover,
.sticky-top.navbar .navbar-nav .nav-link.active {
    color:var(--dark);
    font-size: larger;
}

.navbar .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar {
        position: relative;
        background: #FFFFFF;
    }

    .navbar .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar .navbar-nav .nav-link,
    .sticky-top.navbar .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark);
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        color: var(--dark);
    }

    .navbar .navbar-brand h1 {
        color: var(--dark);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .sticky-top.navbar {
        position: fixed;
        background: #FFFFFF;
    }

    .sticky-top.navbar .navbar-brand h1 {
        color: var(--dark);
    }

    .navbar .navbar-nav .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 80%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .navbar-nav .nav-item:hover .dropdown-menu {
        top: 90%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    .sticky-top.navbar .btn {
        color: var(--light);
        background: var(--primary);
        border-color: var(--primary);
    }
}
.owl-next {
    background: #000;
}
.hover:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1.4rem;
}


/*** Hero Header ***/
.hero-header {
    padding: 7rem 0rem 3rem 0;
    /* background: url(../img/bg-bottom.png) center bottom no-repeat ; */
}
.header-color{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(82.86deg,#000577 -19.93%,#00a3ff 75.2%),linear-gradient(89.75deg,#ba3838 -4.9%,red 97.56%);
}
.bg-color{
    background-image: linear-gradient(82.86deg,#000577 -19.93%,#00a3ff 75.2%),linear-gradient(89.75deg,#ba3838 -4.9%,red 97.56%);
}
.service-header{
    padding: 7rem 0rem 3rem 0;
    background-image: linear-gradient(135deg,#bbd0ff,#dffee6);
   background-blend-mode: normal, overlay, normal, normal, normal;
   animation: gradient 5s ease infinite;
}

.hero-header{
    background-image: linear-gradient(79.91deg,rgba(226,17,17,.35) -45.03%,rgba(252,8,8,.349) -9%,hsla(0,0%,100%,0) 78.45%),radial-gradient(78.34% 87.46% at 72.4% 50%,rgba(16,255,212,.8) 0,hsla(0,0%,100%,.152) 62.28%,hsla(0,0%,100%,0) 100%),radial-gradient(141.16% 149.67% at 121.35% 100%,#5f36d1 9.82%,rgba(135,102,231,.934) 21.48%,rgba(242,245,255,.49) 69.06%,hsla(0,100%,85%,0) 100%),radial-gradient(69.08% 93.55% at 107.79% -8.89%,#007eff 0,hsla(0,0%,100%,0) 100%),linear-gradient(143.89deg,rgba(151,149,255,.78) -66.51%,rgba(180,137,216,.566) -19.61%,rgba(255,106,114,0) 104.64%);
    background-blend-mode: normal, overlay, normal, normal, normal;
    /* background: linear-gradient(-45deg, rgb(35, 35, 35), #0f0202, rgba(27, 26, 26, 0.935), #722506); */
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
 /* background-blend-mode: multiply,multiply; */
  
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0%, 100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}


@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0;
    }
}


/*** Feature ***/
.feature-item,
.advanced-feature-item {
    height: 100%;
    transition: .5s;
}

.feature-item:hover {
    margin-top: -15px;
}

.advanced-feature-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border: 1px solid rgb(41, 9, 222);
}

.advanced-feature-item * {
    transition: .5s;
}
.headlight{
    background-image: linear-gradient(225.92deg,#33d2ff 5.73%,#3d68de 54.65%,#9845e8 96.75%);
    box-shadow: 0px 4px 16px rgba(37, 37, 37, 0.25);
}
/* .advanced-feature-item:hover {
    background: var(--dark);
} */

.advanced-feature-item:hover * {
    color: #FFFFFF !important;
}


/*** Process ***/
.process {
    padding: 0;
    list-style: none;
}

.process li {
    position: relative;
    display: flex;
    padding-bottom: 25px;
}

.process li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 20px;
    background: var(--primary);
}

.process li:last-child {
    padding-bottom: 0;
}

.process li:last-child:after {
    display: none;
}

.process li span {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    z-index: 1;
}

.process li p {
    margin: 0;
}


/*** Price ***/
.price-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.price-item:hover {
    margin-top: -10px;
}


/*** Testimonial ***/
.testimonial-carousel .testimonial-item {
    padding: 0 30px 30px 30px;
}

.testimonial-carousel .owl-nav {
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    background: var(--light);
    border-radius: 60px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}


/*** Footer ***/
.footer {
    margin-top: 6rem;
    padding-top: 3rem;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #858585;
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: #858585;
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    color: var(--light);
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--secondary);
}